* {
    box-sizing: border-box;
}

body {
    color: #333333;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Сбросс стилей */

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

h1, h2, h3, p {
    margin: 0;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
}

/* Сбросс стилей */

/* Общие стили */

section {
    padding-top: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
}

.card__img {
    position: relative;
    height: 200px;
    background-position: center;
    background-size: cover;
}

.card__clouse {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 16px;
    height: 16px;
    background-image: url(../img/card-clouse.svg);
}

.card__block {
    min-height: 400px;
    background-color: white;
}

.card__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
}

.card__subtitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
}

.card__place,
.card__time {
    color: #999999;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

.card__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.card__link {
    padding-bottom: 3px;
    color: #9D5CD0;
    border-bottom: 1px solid #9D5CD0;
}

.link {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-position: center;
    background-size: contain;
}

.logo {
    width: 96.8px;
    height: 21.67px;
    background-image: url('../img/logo.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
}

.button {
    padding: 0;
    border: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
}

.arrow-dark,
.arrow-light {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-position: center;
    background-repeat: no-repeat;
}
.arrow-dark {
    background-color: #666666;
    background-image: url('../img/arrow-white.svg');
}
.arrow-light {
    background-color: #ECECEC;
    background-image: url('../img/arrow-black.svg');
}

/* Общие стили */

/* Шапка */

.header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 45px;
    color: white;
    background-color: black;
}

.header__top {
    position: relative;
}

.burger {
    position: absolute;
    top: 13px;
    left: 0;
    width: 25px;
    height: 18px;
    background-image: url('../img/burger.svg');
}

.logo {
    position: absolute;
    top: 12.1px;
    left: 50%;
    transform: translateX(-50%);
}

.header__buttom {
    height: 45px;
}

.styles {
    display: none;
}

/* Шапка */

/* Меню */

.nav {
    z-index: 10;
    position: fixed;
    inset: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.9);
}
.nav_open {
    display: block;
}

.nav__block {
    position: relative;
    height: 100%;
    padding-top: 16px;
}

.nav__clouse {
    margin-bottom: 20px;
    width: 16px;
    height: 16px;
    background-image: url('../img/clouse.svg');
}

.nav__list {
    margin-bottom: auto;
}

.nav__item:not(:last-child) {
    margin-bottom: 13.5px;
}

.nav__item a {
    font-weight: 600;
    font-size: 16px;
}

.login {
    position: absolute;
    left: 15px;
    bottom: 27px;
    padding: 8px 30px 10px 30px;
    border: 2px solid #9D5CD0;
    border-radius: 100px;
}
.login span {
    position: relative;
    padding-left: 13px;
    font-weight: 600;
    font-size: 12px;
}
.login span::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 9px;
    height: 9px;
    background-image: url(../img/login.svg);
}

/* Меню */

/* Поиск */

.search {
    margin-left: auto;
    position: relative;
    width: 18px;
    height: 100%;
    background-color: black;
    transition: width .4s ease-in-out;
}
.search_open {
    width: 100%;
}

.search__form {
    display: none;
}
.search_open .search__form {
    display: block;
}

.search__opener,
.search__submit,
.search__inp {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.search__inp {
    right: 30px;
    left: 30px;
    padding: 0;
    height: 18px;
    color: white;
    outline: none;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.85);
    border-left: none;
    background-color: transparent;
}

.search__opener,
.search__submit {
    width: 18px;
    height: 18px;
    background-image: url('../img/search.svg');
}

.search__submit {
    left: 0;
}

.search__opener {
    right: 0;
}
.search_open .search__opener {
    background-image: url('../img/clouse.svg');
}

/* Поиск */

/* Секция hero */

.hero {
    padding-top: 75px;
    padding-bottom: 45px;
    color: white;
    animation: bg 15s ease-in-out infinite;
}
@keyframes bg {
    0% { 
        background-image: url(../img/hero/hero-1.jpg);    
    }   
    22% { 
        background-image: url(../img/hero/hero-1.jpg);    
    } 

    33% { 
        background-image: url(../img/hero/hero-2.jpg);    
    }
    55% { 
        background-image: url(../img/hero/hero-2.jpg);    
    }   

    66% { 
        background-image: url(../img/hero/hero-3.jpg);    
    }
    88% { 
        background-image: url(../img/hero/hero-3.jpg);    
    }

    100% {
        background-image: url(../img/hero/hero-1.jpg);
    }
}

.hero .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.hero__title {
    margin-bottom: 2px;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: .5px;
    text-align: center;
}

.hero__subtitle {
    margin-bottom: 41px;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
}

.hero__subscription {
    display: block;
    padding: 12px 19px;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: .3px;
    border-radius: 100px;
    background: #9D5CD0;
}

/* Секция hero */

/* Секция о нас */

.about {
    padding-bottom: 41px;
}

.about__text {
    font-size: 14px;
    line-height: 28px;
}

/* Секция о нас */

/* Секция галерея */

.galary {
    padding-bottom: 50px;
    color: white;
    background-image: url(../img/galary/galary-bg.jpg);
}

.galary .container {
    position: relative;
}

.filter {
    margin-bottom: 36.5px;
}

.filter__sutitle {
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
}

.choices {
    margin-bottom: 36px;
    width: 100%;
}
.choices__inner {
    padding: 0 !important;
    min-height: auto;
    color: white !important;
    background-color: transparent;
    border-radius: 6px !important;
}
.choices__list {
    padding: 0;
    border-radius: 6px !important;
}
.choices__list--dropdown {
    background-color: black !important;
}
.choices__list--dropdown .choices__item {
    color: #999999 !important;
}
.is-selected {
    display: none;
}
.choices__placeholder {
    opacity: 1;
}
.choices__item {
    padding: 9px 11px 11px 14px !important;
    font-weight: 400 !important;
    font-size: 16px !important;
}
.choices[data-type*=select-one]::after {
    top: 42%;
    right: 13px;
    width: 12px;
    height: 7px;
    margin: 0 !important;
    border: none;
    background-color: transparent !important;
    background-image: url(../img/arrow-white.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
.choices[data-type*=select-one].is-open::after {
    transform: rotate(180deg);
}

.filter input[type="radio"] {
    position: absolute;
    visibility: hidden;
}

.filter__century {
    position: relative;
    display: block;
    padding-left: 24px;
}
.filter__century:not(:last-child) {
    margin-bottom: 14px;
}

.filter__century::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 2.5px;
    width: 10px;
    height: 10px;
    border: 1px solid white;
}
.filter input[type="radio"]:checked + .filter__century::before {
    border-color: #C283F3;
}

.filter input[type="radio"]:checked + .filter__century::after {
    content: '';
    position: absolute;
    left: 4px;
    bottom: 6.5px;
    width: 4px;
    height: 4px;    
    background-color: #C283F3;
    border-radius: 10px;
}

.galary__swiper {
    padding-bottom: 50px;
}
.galary__slide {
    height: 367px;
    background-size: cover;
}
.galary__slide-1 {
    background-image: url('../img/galary/galary-1.jpg');
}
.galary__slide-2 {
    background-image: url('../img/galary/galary-2.jpg');
}
.galary__slide-3 {
    background-image: url('../img/galary/galary-3.jpg');
}
.galary__slide-4 {
    background-image: url('../img/galary/galary-4.jpg');
}
.galary__slide-5 {
    background-image: url('../img/galary/galary-5.jpg');
}
.galary__slide-6 {
    background-image: url('../img/galary/galary-6.jpg');
}

.swiper-pagination {
    bottom: 5px;
}

.galary__next,
.galary__prev {
    top: auto;
    bottom: 0;
}

.galary__next {
    right: calc(50% - 65px);
}
.galary__prev {
    left: calc(50% - 65px);
}

.swiper-button-next {
    transform: rotate(-90deg);
}
.swiper-button-prev {
    transform: rotate(90deg);
}

.swiper-button-next::after,
.swiper-button-prev::after {
    display: none;
}

.galary__card {
    z-index: 20;
    position: absolute;
    top: 245px;
    left: 15px;
    right: 15px;
    display: none;
    color: #333333;
}

.galary__card_open {
    display: block;
}

.galary__card::before {
    content: '';
    z-index: -1;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, .5);
}
.galary__card-1 .card__img {
    background-image: url(../img/galary/galary-1.jpg);
}
.galary__card-2 .card__img {
    background-image: url(../img/galary/galary-2.jpg);
}
.galary__card-3 .card__img {
    background-image: url(../img/galary/galary-3.jpg);
}
.galary__card-4 .card__img {
    background-image: url(../img/galary/galary-4.jpg);
}
.galary__card-5 .card__img {
    background-image: url(../img/galary/galary-5.jpg);
}
.galary__card-6 .card__img {
    background-image: url(../img/galary/galary-6.jpg);
}

.galary__card .card__block {
    padding: 17px 20px;
}
.galary__card .card__title {
    margin-left: -2px;
    margin-bottom: -1px;
}
.galary__card .card__time {
    margin-bottom: 10px;
}

/* Секция галерея */

/* Секция каталог */

.catalog__text {
    display: none;
}

.period {
    margin-bottom: 50px;
}

.period__yers {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    width: 100%;
    text-align: left;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    border-top: 1px solid #CACACA;
}
.period__item:last-child .period__yers {
    border-bottom: 1px solid #CACACA;
}
.period__item_open .period__yers {
    border-top: 1px solid #7943A4;
    border-bottom: 1px solid #7943A4;
}

.period__item .arrow-light {
    transform: translateY(2px);
    transition: transform .5s ease-in-out;
}

.period__item_open .arrow-light {
    transform: rotate(180deg) translateY(-2px);
    border: 2px solid #9D5CD0;
    border-radius: 100px;
    background-color: #D1A9F0;
}

.period__wrapper {
    height: 0;
    overflow: hidden;
    transition: height .5s ease-in-out;
}
.period__item_open .period__wrapper {
    height: 808px;
}

.period__people {
    padding-top: 27px;
    padding-bottom: 26.5px;
}

.period__person:not(:last-child) {
    margin-bottom: 13.6px;
}

.period__person button {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
}

.empty {
    padding-top: 25px;
    display: flex;
}

.period__item_open .period__wrapper_empty {
    height: 180px;
}

.empty__img {
    flex: none;
    margin-right: 25px;
    padding: 4px;
    width: 90px;
    height: 130px;
    border: 2px solid #999999;
}
.empty__img div {
    width: 100%;
    height: 100%;
    background-color: #999999;
}

.empty__title {
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
}

.empty__text {
    margin-bottom: 5px;
}

.to-galary {
    color: #9D5CD0;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
}

.bio__card {
    display: none;
}
.bio__card_open {
    display: block;
}

.bio__card .card__img {
    margin-bottom: 21px;
    height: 181px;
}

.bio__card-1 .bio__img {
    background-image: url(../img/catalog/catalog-1.jpg);
}

.bio__title {
    margin-bottom: 6px;
}

.bio__time {
    margin-bottom: 14px;
}

.bio__none .card__img {
    background-image: url(../img/catalog/catalog-none.jpg);
}
.bio__none .card__text {
    margin-bottom: 6px;
}

/* Секция каталог */

/* Секция события */

.event__swiper {
    padding-bottom: 30px;
}

.event__slide-1 .card__img {
    background-image: url('../img/event/event-1.jpg');
}
.event__slide-2 .card__img {
    background-image: url('../img/event/event-2.jpg');
}
.event__slide-3 .card__img {
    background-image: url('../img/event/event-3.jpg');
}
.event__slide-4 .card__img {
    background-image: url('../img/event/event-4.jpg');
}
.event__slide-5 .card__img {
    background-image: url('../img/event/event-5.jpg');
}

.event__slide .card__block {
    position: relative;
    padding: 16px 18px 0px 22px;
    min-height: 483px;
    border: 1px solid #CACACA;
}

.event__slide .card__time,
.event__slide .card__place {
    text-align: right;
}

.event__slide .card__place {
    margin-bottom: 11px;
}

.event__slide .card__title {
    margin-bottom: 4px;
}

.event__slide .card__link {
    position: absolute;
    bottom: 50px;
    left: 28px;
}

.event__swiper .swiper-pagination {
    bottom: -3px;
}
.swiper-pagination-bullet {
    margin: 0 8px !important;
    width: 9px;
    height: 9px;
}
.swiper-pagination-bullet-active {
    background-color: #666666;
}

/* Секция события */

/* Секция проекты */

.projects__text {
    margin-right: -1px;
    margin-bottom: 57px;
}

.info {
    display: inline-block;
    margin-bottom: -3px;
    width: 16px;
    height: 16px;
    background-image: url('../img/info.svg');
    background-position: bottom;
    background-repeat: no-repeat;
}

.projects__link {
    color: #9D5CD0;
}

.projects__subtitle {
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 18px;
}

.projects__swiper {
    padding-right: 48px;
    padding-left: 47px;
}

.projects__slide {
    height: 65px;
    border: 1px solid #CACACA;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%)
}

.projects__slide-1 {
    background-size: 104.74px 25.94px;
    background-image: url('../img/projects/projects__slide-1.png');
}
.projects__slide-2 {
    background-size: 141.15px 24.44px;
    background-image: url('../img/projects/projects__slide-2.png');
}
.projects__slide-3 {
    background-size: 116.71px 27.01px;
    background-image: url('../img/projects/projects__slide-3.png');
}
.projects__slide-4 {
    background-size: 53.3px 36.83px;
    background-image: url('../img/projects/projects__slide-4.png');
}
.projects__slide-5 {
    background-size: 74.97px 36.83px;
    background-image: url('../img/projects/projects__slide-5.png');
}
.projects__slide-6 {
    background-size: 109.2px 30.33px;
    background-image: url('../img/projects/projects__slide-6.png');
}
.projects__slide-7 {
    background-size: 123.93px 29.9px;
    background-image: url('../img/projects/projects__slide-7.png');
}
.projects__slide-8 {
    background-size: 80.17px 35.1px;
    background-image: url('../img/projects/projects__slide-8.png');
}
.projects__slide-9 {
    background-size: 99.23px 26.87px;
    background-image: url('../img/projects/projects__slide-9.png');
}

.projects__next,
.projects__prev {
    top: 39px;
}
.projects__next {
    right: 0;
}
.projects__prev {
    left: 0;
}

/* Секция проекты */

